/* CONFIGURAÇÕES MAIN */

#container{
    background-color: #AED3F2;}

#navbarNavDropdown{
    text-align: center;}

.img-foto{
    width: 100%;
    margin: auto;

}

.img-main{
    width: 100%;
    margin: auto;
}

.conteudo{
    width: 80%;
    margin: auto;
    text-align: justify;
}

.separacao-bloco{
    border-radius: 20px;
    padding: 1rem;
    background-color: whitesmoke;
}

.titulo{
    text-align: center;
    
}

.destaque{
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.paragrafo{
    padding: 1rem;
}

.mais_vendidos{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 1rem;
}

.roupas-container .vetor-venda{
    width: 100%;
    border-radius: 20px 20px 0px 0px ;
}

.preco{
    padding: 0.5rem;
    margin: auto;
    text-align:center;
}

.separacao-venda{
    padding: 1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.venda{
    background-color: whitesmoke;
    width: 150px;
    margin: auto;
}

.vetor-venda{
    width: 100%;

}

.roupa-preco{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    vertical-align:middle;
    text-align: center ;
}

.icon-favi{
    width: 50px;
    text-align: center;
    float: right;
}

.vetor-favi{
    width: 100%;
    padding: 0.5rem;
}

/* CONFIGURAÇÕES MAIN */