/* CONFIGURAÇÕES MAIN */

.img-foto{
    width: 100%;
    text-align: center;
}

.img-main{
    width: 100%;
    margin: auto;
}

.conteudo{
    width: 80%;
    margin: auto;
    text-align: justify;
}

.separacao-bloco{
    padding: 1rem;
    background-color: whitesmoke;
}

.titulo{
    text-align: center;
    padding: 1rem;
}
.titulo1{
    text-align: left;
    padding: 1rem;
}
.titulo2{
    text-align: right;
    padding: 1rem;
}

.movie{
    width: 90%;
    height: 400px;
    margin: auto;
    padding: 1rem;
    text-align: center;
    align-items: center;
}

button{
    padding: 0.5rem;
    background-color: rgb(160, 106, 180);
}


.destaque{
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.paragrafo{
    padding: 1rem;
}
