*{
    margin: 0;
    padding: 0;
}

body{
    width: 80%;
    margin: auto;
    background: transparent url('../Img/tomoko-uji-qzoSJlPxS9k-unsplash.jpg') no-repeat left bottom;
}

#container{
    box-shadow: 0.2em 0.1em 0.3em #77ABD9;
    background-color: #AED3F2;
}

#navbarNavDropdown{
    text-align: center;
}

.header{

    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;

}

.separacao{
    padding: 1rem;
    width: 100%;
    height: 80px;
}

.itifad-carrosel{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.conteudo{
    width: 80%;
    margin: auto;
    text-align: justify;
}

.sombra-div{
    box-shadow: 0.2em 0.2em 0.5em #AEB1F2;
}
.shadow{
    box-shadow: 0.2em 0.2em 0.5em rgb(0, 0, 0);
}

.titulo{
    text-align: center;
    
}
.titulo1{
    text-align: left;
    padding: 1rem;
}
.titulo2{
    text-align: right;
    padding: 1rem;
}

.mais_vendidos{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 1rem;
}

.destaque{
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.roupas-container img{
    width: 100%;
    padding: 1rem;
}

li{
    border: none;
    list-style-type: none;
    text-decoration: unset;

}

.roupa-preco{
    width: 80%;
    margin: auto;
}

.preco{
    float: left;
    padding: 0.5rem;
}

.favorito{
    float: right;
    padding: 0.5rem;
}

.img-foto{
    width: 100%;
    text-align: center;

}


.img-main{
    width: 100%;
    margin: auto;
}

.vetor{
    width: 60%;
    padding: 0.2rem;
}



.venda{
    background-color: whitesmoke;
    padding: 0.2rem;

    width: 100%;
    margin: auto;
}

.separacao-bloco{
    padding: 1rem;
    background-color: whitesmoke;
}

.paragrafo{
    padding: 1rem;
}

.rodape{
    width: 33%;
    padding: 0.2rem;
    text-align: center;
    height: 50%;

}
.lista{
    padding: 1rem;
    text-align: center;

}

.padding{
    padding: 1rem;
}

.titulo-h5{
    padding: 0.5rem;
}
.sep_rodape{
    padding: 1rem;

}
.footer{
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.container{
    background-color: #ffffff;

}

.vetores{
    padding: 1rem;
    text-align: justify;
    margin: auto;
}

.logo{

    width: 60%;

}

.social{
   text-align: center;
    height: 100%;
}

.lista-logo{
    display: flex;
    text-align: justify;
    width: 70%;
    margin: auto;
}

.carosel-bt{
    width: 80%;
    margin: auto;
}

.bt{
    background-color: black;
}

.separacao-venda{

    padding: 1rem;
    width: 100%;
    margin: auto;
}