/* CONFIGURAÇÕES GERAIS */
*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

body{
    width: 80%;
    margin: auto;
    background: transparent url('../Img/tomoko-uji-qzoSJlPxS9k-unsplash.jpg') no-repeat left bottom;}

li{

    border: none;
    list-style-type: none;
    text-decoration: unset;}

#container{
    background-color: #AED3F2;}

#navbarNavDropdown{
    text-align: center;}

/* CONFIGURAÇÕES SEPARAÇÃO DE DIV */

.separacao{
    padding: 1rem;
    width: 100%;
    height: 80px;}

/* CONFIGURAÇÕES SOMBRA */

.sombra-div{
    box-shadow: 0.2em 0.2em 0.5em #AEB1F2;
}
.shadow{
    box-shadow: 0.2em 0.2em 0.5em rgb(0, 0, 0);
}

/* CONFIGURAÇÕES HEADER */

.container{
    background-color: #ffffff;
}

.logo{

    width: 90%;
    margin: auto;

}

.hover-vetor:hover {
    background-color: #AED3F2;
}

.btn-header{

    padding: 0.2rem;
}

.vetor-img-header{
    width: 1.5rem;
}

/* CONFIGURAÇÕES MAIN */

.img-foto{
    width: 100%;
    text-align: center;
}

.img-main{
    width: 100%;
    margin: auto;
}

.conteudo{
    width: 80%;
    margin: auto;
    text-align: justify;
}

.separacao-bloco{
    padding: 1rem;
    background-color: whitesmoke;
}

.titulo{
    text-align: center;
    padding: 1rem;
}
.titulo1{
    text-align: left;
    padding: 1rem;
}
.titulo2{
    text-align: right;
    padding: 1rem;
}

.destaque{
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.paragrafo{
    padding: 1rem;
}
/* CONFIGURAÇÕES FOOTER */

.footer{
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.rodape{
    width: 33%;
    padding: 0.2rem;
    text-align: center;
    height: 50%;

}

.sep_rodape{
    padding: 1rem;
}

.titulo-h5{
    padding: 0.5rem;
}

.social{
    text-align: center;
    height: 100%;
}

.vetores{
    padding: 0.51rem;
    text-align: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.lista-logo{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.vetor-footer{
    width: 90%;
    padding: 0.5rem;
}

/* CONFIGURAÇÕES FOOTER */


